*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 1200px;
    width: 100%;
}
.cent{
    display: grid;
    justify-content:center;
    grid-template-rows: auto auto; 
}

.main{
    display: flex;
    gap: 20px;
    height: 250px;
    width: 600px;
    margin-top: 20px;
    font-size: 15px;

}
.testimonial1{
    flex: 1;
}
.paragraph{
    border-radius: 10px;
    height: 100px;

}
.paragraph.left::after{
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 20px; 
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1e1919;
}
.paragraph.left{
    margin-top: 10px;
    position: relative; 
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.872);
}
.photoinfo{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.photo img{
    border-radius: 50%;
    height: 60px;
}
.info{
    margin-top: 13px;
}

/* NEXT PERSON */

.testimonial2{
    flex: 1;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.paragraph.right{
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}
.photoinfo2{
    gap: 10px;
    display: flex;
    flex-direction: row
}

.thirdperson {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    height: 220px;
    display: flex;
    align-items: center;
    gap: 40px;
}

#girlimg{
    height: 180px;
    width: auto;
}
.aboutgirl{
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.902);
    color: white;
    padding:50px 20px 30px 20px;
    border-radius: 20px;
}
.aboutgirl #title{
    color: grey;
}
.aboutgirl h3{
    color: rgba(255, 255, 255, 0.822);
}

.final {
    width: 600px;
    height: 300px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif ;
}
.final p{
    padding: 40px 60px 30px 90px;
}


.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 120px;

}

.profile-circles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.profile.active {
    opacity: 3;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 30px;
}

.profile-name {
    margin: -40px;
    margin-left: 175px;
    font-size: 14px;

}
