*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.container{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigbox{
    height: 520px;
    width: 550px;
    border: 1px solid black;
    border-radius: 20px;
}

#heading{
    margin-top: 10px;
    text-align: center;
}

#heading h1{
    padding-bottom: 10px;
    font-size: 40px;
}

#heading p{
    color: gray;
    font-size: 15px;
}

.timeline {
    font-size: 8px;
    text-align: center;
    margin: 20px auto;
    width: 0%; /* Give it width to fit content */
    border-left: 2px solid black;
    height: 370px;
    padding: 0 20px 0 30px;
    position: relative; 
}

.timeline h1{
    top: 15px;
    display: flex;
    position: relative;
    width: 300px;
}

.timeline h2{
    color: grey;
    top:28px;
    right: 210px;
    position: relative;
    width: 200px;

}

.timeline div {
    margin-top: 20px;
    position: relative; 
    margin-bottom: 10px;
}

.timeline div:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius:50%;
    background-color: black;
    position: absolute;
    left: -38px;
    top: 30px; 
}

button{
    position: relative;
    top: -10px;
    left: 200px;
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

